---
const { title, text, thumbnail, id } = Astro.props;
---

<article>
  <a href={`/products/${id}`}>
    <h2>{title}</h2>
    <img src={`/images/${thumbnail}`} alt={title} />
    <p>{text}</p>
  </a>
</article>
