---
const { title, text, thumbnail, price, state } = Astro.props;
const stateClass = state ? "product-state-available" : "product-state-soldout";
---

<div class="product">
  <div class="product-images">
    <img
      src={`13_ecsite/images/${thumbnail}`}
      alt="{title}"
      class="product-image"
    />
  </div>
  <div class="product-details">
    <h2 class="product-title">{title}</h2>
    <div class="product-info">
      <p class="product-price">¥{price}</p>
      <p class={`product-state ${stateClass}`}>
        {state ? "For Sale" : "Sold Out"}
      </p>
    </div>
  </div>
</div>
