---
const { title, text, thumbnail, id, price, state } = Astro.props;
---

<div class="container">
  <div class="product">
    <div class="product-images">
      <img src={`/images/${thumbnail}`} alt="{title}" class="product-image" />
    </div>
    <div class="product-details">
      <h2 class="product-title">{title}</h2>
      <p class="product-description">{text}</p>
      <div class="product-info">
        <p class="product-price">¥{price}</p>
        <p class="product-state">{state ? "販売中" : "売切"}</p>
      </div>
      <button class="product-button">Cart</button>
    </div>
  </div>
</div>
